<center><table border="5" class="table  table-striped">
  <thead>
    <th>ID_ARTICULO</th>
    <th>TITULO</th>
    <th>CONTENIDO</th>
  </thead>
  <tbody>
    <%=render @article %>
  </tbody>
</table></center>
