<br><br><br>

<h1>USUARIO</h1>
<table border="1" class="table  table-striped">
	<thead>
		<tr>
      <th>ID_Afiliado</th>
      <th>Nombre</th>
			<th>Borrar_Usuario</th>
		</tr>
	</thead>
	<tbody>
		<%= render @user %>
	</tbody>
</table>
