<br><br><br><br>

<center><h1>Universidad Tecnologica de Honduras<h1>

<br><br>
<div class="btn-group" role="group">
  <%= button_to "REGISTRO DE USUARIOS ", usuarios_path, :method => :get ,class: "btn btn-default" %>
</div>

<br><br>
<div class="btn-group" role="group">
  <%= button_to "REGISTRO DE ARTICULOS", articulos_path, :method => :get ,class: "btn btn-default" %>
</div>

<br><br>
<div class="btn-group" role="group">
  <%= button_to "        NUEVO USUARIO       ", nuevo_usuario_path, :method => :get ,class: "btn btn-default" %>
</div>
<br>


</center>
